@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&display=swap');

body {
    font-family: 'Maven Pro', sans-serif;
    color:black;
    font-size: medium;
    text-decoration: none;
    flex: auto;
    align-content: center;
    -webkit-font-smoothing: antialiased;
}