<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="../styles/home.css"/>
        <title>Wave IT - Challenge</title>
    </head>

    <body>
        <div id="bloc_page">
            <header>
                <div id="haut_de_la_page">
                    <img class="image-logo" src="../content/wave-it-blue.jpg"/>
                </div>

                <div id="liens">
                    <ul>
                        <a href="index.html">Accueil</a>
                        <a href="challenge.html">Challenge</a>
                        <a href="contact.html">Contact</a>
                        <a href="questions.html">FAQ</a>
                        <img src="../content/group.png"/>
                    </ul>
                </div>
            </header>
            <footer>
                <div id="liens2">
                    <ul>
                        <a href="#">Mentions légales</a>
                        <a href="#">SAV</a>
                        <a href="#">Contact</a>
                        <div id=images>
                            <img class="image-réseaux" src="../content/instagram.png"/>
                            <img class="image-réseaux" src="../content/linkedin.png"/>
                            <img class="image-réseaux" src="../content/facebook.png"/>
                        </div>
                    </ul>
                </div>
            </footer>
        </div>
    </body>
