<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="styleCONTACT.css"/>
        <title>Wave IT.Contact</title>
    </head>

    <body>
        <header>
            <div id="haut_de_la_page">
                <img class="image-logo" src="WaveITlogo.jpg"/>
            </div>

                <ul>
                    <a href="index.html">Accueil</a>
                    <a href="challenge.html">Challenge</a>
                    <a href="contact.html">Contact</a>
                    <a href="questions.html">FAQ</a>
                    <a href="#"><img src="Group.png"/></a>
                </ul>
        </header>

        <section>
            <img class="mail"src="Mail.png"/>
            <a href=#><p>
                Contacter l’administrateur par Mail
            </p></a>
            <p class="coordonnées">NOM prénom</p></br>
            <p class="coordonnées">Adresse mail</p></br>
            <p class="coordonnées">Objet</p></br>
            <p class="coordonnées">Message</p></br>
        </section>
        <article>
            <img class="message" src="message.png">
            <p>Contactez l'admin sur la messagerie interne</p>
        </article>
        <footer>
                <ul>
                    <a href="file:///C:/Users/david/OneDrive/HTML/Site%20Web%20v1/MentionsL%C3%A9gales.html">Mentions légales</a>
                    <a href="file:///C:/Users/david/OneDrive/HTML/Site%20Web%20v1/SAV.html">SAV</a>
                    <a href="file:///C:/Users/david/OneDrive/HTML/Site%20Web%20v1/WaveITContact.html">Contact</a>
                    <div id=images>
                        <a href="#"><img class="image-réseaux" src="insta.png"/></a>
                        <a href="#"> <img class="image-réseaux" src="linkedin.png"/></a>
                        <a href="#"><img class="image-réseaux" src="facebook.png"/></a>
                    </div>
                </ul>
        </footer>
    </div>
</body>