<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="../styles/home.css"/>
        <title>Wave IT</title>
    </head>

    <body>
        <div id="bloc_page">
            <header>
                <div id="haut_de_la_page">
                    <img class="image-logo" src="../content/wave-it-blue.jpg"/>
                </div>

                <div id="liens">
                    <ul>
                        <a href="index.html">Accueil</a>
                        <a href="challenge.html">Challenge</a>
                        <a href="contact.html">Contact</a>
                        <a href="questions.html">FAQ</a>
                        <img src="../content/group.png"/>
                    </ul>
                </div>
            </header>

            <section>
                <article>
                    <img src="../content/wave-it-white.png"/>
                </article>

                <aside>
                    <div class="mesures">
                        <div class="element">
                            <img src="../content/noise.png"/>
                            <p>Sonore</p>
                            </br></br></br></br>
                            <img src="../content/cardiac.png"/>
                            <p>Rythme cardiaque</p>
                        </div>

                        <div class="element">
                            <img src="../content/co2.png"/>
                            <p>CO2</p>
                        </div>

                        <div class="element">
                            <img src="../content/temperature.png"/>
                            <p>Température</p>
                            </br></br></br></br>
                            <img src="../content/humidity.png"/>
                            <p>Humidité</p>
                        </div>
                    </div>
                </aside>
            </section>
            <article id="text">
                <p>
                    Wave IT propose une interface permettant de comprendre votre environnement. 
                    Grâce aux différents capteurs et à ce site, vous comprendrez votre environnement et en deviendrez le maître. 
                    Notre site comprend une interface ludique vous mettant en compétition avec le restant des participants pour avoir le meilleur environnement de travail.
                </p>
            </article>
            <article id="Challenge">

            </article>
            <footer>
                <div id="liens2">
                    <ul>
                        <a href="#">Mentions légales</a>
                        <a href="#">SAV</a>
                        <a href="#">Contact</a>
                        <div id=images>
                            <img class="image-réseaux" src="../content/instagram.png"/>
                            <img class="image-réseaux" src="../content/linkedin.png"/>
                            <img class="image-réseaux" src="../content/facebook.png"/>
                        </div>
                    </ul>
                </div>
            </footer>
        </div>
    </body>
