<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="styleML.css"/>
        <title>Wave IT.Mentions.Légales</title>
    </head>

    <body>
            <header>
                <div id="haut_de_la_page">
                    <img class="image-logo" src="WaveITlogo.jpg"/>
                </div>

                    <ul>
                        <a href="file:///C:/Users/david/OneDrive/HTML/Site%20Web%20v1/WaveITAccueil.html">Accueil</a>
                        <a href="#">Challenge</a>
                        <a href="file:///C:/Users/david/OneDrive/HTML/Site%20Web%20v1/WaveITContact.html#">Contact</a>
                        <a href="file:///C:/Users/david/OneDrive/HTML/Site%20Web%20v1/FAQ.html">FAQ</a>
                        <a href="#"><img src="Group.png"/></a>
                    </ul>
            </header>

            <section>
                <p class="Q1">Conditions générales de vente CGV</p></br>
                <p class="R1">Notre site en lui-même n’est pas exploité à des fins commerciales.</p></br>
                <p class="Q2">Cookies</p></br>
                <p class="R2">Nous collectons uniquement les données essentielles. Nous respectons la vie privée et 
                    sommes soumis à l’obligation d’information des utilisateurs avant toite collecte de données. Nous sécurisons les données et respectons la loi n°78-17 sur l’utilisation de cookies</p></br>
                <p class="Q3">Identification</p></br>
                <p class="R3">Notre entreprise est Wave IT et nous tenons à rester transparent avec nos clients. Pour 
                    toute informations sur notre identité, se rendre sur la page Contact</p></br>

            </section>

            <footer>
                    <ul>
                        <a href="file:///C:/Users/david/OneDrive/HTML/Site%20Web%20v1/MentionsL%C3%A9gales.html">Mentions légales</a>
                        <a href="file:///C:/Users/david/OneDrive/HTML/Site%20Web%20v1/SAV.html">SAV</a>
                        <a href="file:///C:/Users/david/OneDrive/HTML/Site%20Web%20v1/WaveITContact.html#">Contact</a>
                        <div id=images>
                            <a href="#"><img class="image-réseaux" src="insta.png"/></a>
                            <a href="#"><img class="image-réseaux" src="linkedin.png"/></a>
                            <a href="#"><img class="image-réseaux" src="facebook.png"/></a>
                        </div>
                    </ul>
            </footer>
        </div>
    </body>