<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="styleFAQ.css"/>
        <title>Wave IT - FAQ</title>
    </head>

    <body>
            <header>
                <div id="haut_de_la_page">
                    <img class="image-logo" src="WaveITlogo.jpg"/>
                </div>

                    <ul>
                        <a href="file:///C:/Users/david/OneDrive/HTML/Site%20Web%20v1/WaveITAccueil.html">Accueil</a>
                        <a href="#">Challenge</a>
                        <a href="file:///C:/Users/david/OneDrive/HTML/Site%20Web%20v1/WaveITContact.html">Contact</a>
                        <a href="file:///C:/Users/david/OneDrive/HTML/Site%20Web%20v1/FAQ.html">FAQ</a>
                        <a href="#"><img src="Group.png"/></a>
                    </ul>
            </header>

            <section>
                <p class="Q1">Comment vous contacter ?</p></br>
                <p class="R1">Vous pouvez nous contacter en allant sur la page Contact ou en nous conactant sur nos 
                    réseaux sociaux</p></br>
                <p class="Q2">Quels sont les capteurs utilisés ?</p></br>
                <p class="R2">Les capteurs utilisés sont le capteur de son à électret​​ MAX4466 avec Gain Ajustable, le capteur de température LM35, le capteur d'humidité DHT11 ST052​ et le capteur de CO2 I²C​ MiCS-VZ-89TE​.</p></br>
                <p class="Q3">Comment sont calculés les scores ?</p></br>
                <p class="R3">Les scores pour le leaderboard sont calculés en se basant sur des valeurs idéales pour chacun des paramètres et la différences des valeurs mesurées par raport à ces valeurs créé un score pour chacun de ces paramètres dont la somme fourni un score final ensuite comparé aux scores des autres équipes.</p></br>

            </section>

            <footer>
                    <ul>
                        <a href="file:///C:/Users/david/OneDrive/HTML/Site%20Web%20v1/MentionsL%C3%A9gales.html">Mentions légales</a>
                        <a href="file:///C:/Users/david/OneDrive/HTML/Site%20Web%20v1/SAV.html">SAV</a>
                        <a href="file:///C:/Users/david/OneDrive/HTML/Site%20Web%20v1/WaveITContact.html">Contact</a>
                        <div id=images>
                            <a href="#"><img class="image-réseaux" src="insta.png"/></a>
                            <a href="#"><img class="image-réseaux" src="linkedin.png"/></a>
                            <a href="#"><img class="image-réseaux" src="facebook.png"/></a>
                        </div>
                    </ul>
            </footer>
        </div>
    </body>