@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&family=Roboto&display=swap');
:root {
    --independence: #415066ff;
    --queen-blue: #406798ff;
    --oxford-blue: #141E31ff;
    --isabelline: #F0F0ECff;
    --lapis-lazuli: #396196ff;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

div.flexbox {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    background-color: var(--queen-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--isabelline);
    padding: 10px;
    border-radius: 10px;
}

p {
    margin: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    size: medium;
}

header {
    padding: 10px;
    background-color: var(--queen-blue);
    text-align: center;
    color: var(--isabelline);
    font-size: medium;
}

div.gallery {
    margin: 5px;
    float: left;
    width: 12%;
}

div.gallery:hover {
    -ms-transform: scale(2);
    /* IE 9 */
    -webkit-transform: scale(2);
    /* Safari 3-8 */
    transform: scale(2);
}

div.gallery img {
    width: 100%;
    height: auto;
    border-radius: 5%;
    transition: transform .8s;
}

div.grid-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1px);
    grid-template-rows: repeat(4, 4px);
    grid-gap: 2px;
}

div.grid-gallery__img {
    width: 100%;
}

div.grid-gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}