noms{
    display: flex;
    background-color: rgb(47, 178, 47);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    justify-content: space-around;
    block-size: 50px;
    align-items: center;
}
equipe1,equipe2,equipe3,equipe4,equipe5{
    display:flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    block-size: 50px;
    align-items: center;
}
equipe1{
    background-color: red;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
equipe2{
    background-color: rgb(253, 50, 50);
    margin-top: 5px;
    margin-left: 60px;
    margin-right: 60px;
}
equipe3{
    background-color: rgb(255, 100, 100);
    margin-top: 5px;
    margin-left:100px;
    margin-right: 100px;
}
equipe4{
    background-color: rgb(255, 150, 150);
    margin-top: 5px;
    margin-left: 140px;
    margin-right: 140px;
}
equipe5{
    background-color: rgb(255, 200, 200);
    margin-top: 5px;
    margin-left: 180px;
    margin-right: 180px;
}
a{
    text-decoration:none;
    color: black;
}
