section{
    display: flex;
    justify-content: center;
    border-right: solid;
}
.mail{
    width: 100px;
    vertical-align: baseline;
}
.message{
    width:100px;
}
.coordonnées{
    border-radius: 20px;
    block-size: 30px;
    background-color: gainsboro;
    vertical-align: baseline;
}
article{
    display: flex;
    justify-content: right;
    vertical-align: baseline;
}