*{
  margin: auto;
  
}
footer {
  display: flex;
  height: 15vh;
  background-color: #e1f5fe;
  width:1600px;
  position: fixed;
}
.image-réseaux {
  height: 7vh;
}

.row-container {
  display: flex;
  padding-top: 2vh;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items:center;
  align-content: center;
  padding-left: 100px;
  padding-right: 100px;
  font-size: 20px;
  text-decoration: none;
  list-style-type: none;
}

.no-header-style {
  margin-right: 200px;
}

