header {
  display: flex;
  justify-content:left;
  height: 12vh;
  background-color: #e1f5fe;
  width:100%;
  position: fixed;
  top:0;
}

ul {
  font-size: 20px;
  align-items: center;
  padding-right: 500px;
}

a {
  margin-right: 3vw;
  color: black;
  text-decoration: none;
  list-style-type: none;
}

.image-logo {
  height: 10vh;
  margin-left: 2vw;
}

.sign-in-logo {
  height: 5vh;
}
