header {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  height: 10vh;
  background-color: #6960BB;
  width:100%;
  position: fixed;
  top:0;
  padding: 0;
  
}

ul {
  font-size: 20px;
  align-items: flex-end;
}

a {
  margin-right: 2vw;
  color: whitesmoke;
  text-decoration: none;
  list-style-type: none;
}

.image-logo {
  height: 10vh;
}

.dropbtn {
  color: white;
  padding: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
