header {
  display: flex;
  justify-content:right;
  height: 10vh;
  background-color: #6960BB;
  width:100%;
  position: fixed;
  top:0;
  
}

ul {
  font-size: 20px;
  align-items: center;
  padding-right: 400px;
}

a {
  margin-right: 3vw;
  color: whitesmoke;
  text-decoration: none;
  list-style-type: none;
}

.image-logo {
  height: 10vh;
  margin-left: 2vw;
}

.sign-in-logo {
  height: 5vh;
}
