
.illustration {
  height: 30vh;
}

.description {
  width: 40vw;
  padding-bottom: 10px;
}

.h-stack {
  justify-content: space-evenly;
  align-items: center;
}


.h-stack-icons {
  width: 40vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}


