header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    background-color: #e1f5fe; 
}
footer{
    display: flex;
    align-items: center;
    height: 150px;
    background-color: #e1f5fe;
    justify-content: space-evenly;  
}
.image-réseaux{
    height: 100px;
}
body{
    margin: 0;
}
ul{
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
}
a {
    margin-right: 50px;
    color:black;
    text-decoration:none;
}
                   
.image-logo{
    height: 100px;
}
section p{
    text-align: center;
}
.Q1, .Q2, .Q3{
    font-size: x-large;
    font-display: 100px;
    color: blue;
    background-color: #e1f5fe;
    text-align: center;
}
.R1, .R2, .R3{
    border-left: solid;
    max-width: 500px;
    text-align: center;
    margin: auto;
}