section p{
    text-align: center;
}
h1{
    text-align: center;
    color: rgb(59, 59, 152);

}
.question{
    font-size: x-large;
    font-display: 100px;
    color: rgb(59, 59, 152);
    background-color: #e1f5fe;
    text-align: center;
}
.answer{
    border-left: solid;
    padding-left: 3vw;
    max-width: 500px;
    text-align: center;
    margin: auto;
}