h1 {
    color: #6960BB;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

img {
    height: 30vh;
}

.h-stack {
    justify-content: space-evenly;
}

.account-link {
    padding-bottom: 10vh;
    margin-top: 50px;
    color: #6960BB;
    margin-right: 0 !important;
}