section p{
    text-align: center;
}

h1{
    text-align: center;
    color: rgb(59, 59, 152);
}
.questioner{
    display: flex;
    justify-content: center;
    width:500px;
    height:10px;
}
.question{
    font-size: large;
    color: rgb(59, 59, 152);
    padding-top: 0;
    padding-bottom: 0;
    background-color: #e1f5fe;
    text-align: center;
}
.answer{
    border-left: solid;
    padding-left: 3vw;
    max-width: 500px;
    text-align: center;
    margin: 0 auto 0 auto;
}

.column-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
.pagination {
    display: flex;
    justify-content: center;
}
.pagination a {
    color: black;
    margin: 10px;
    text-decoration: none;
}