img {
  height: 20vh;
}

h1 {
  color: #6960bb;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.h-stack {
  justify-content: space-evenly;
}

.chart-container {
  position: relative;
  width: 40vw;
  height: 40vh;
}

.tabs {
  margin: 0;
  padding: 0;
}
.tabs li {
  display: inline-block;
  border: 1px solid #cccccc;
  border-bottom: none;
  background-color: #eeeeee;
}
.tabs li a {
  padding: 10px 20px;
  display: block;
  text-decoration: none;
  color: #000000;
}
.tabs li.selected {
  background-color: #ffffff;
  position: relative;
  top: 1px;
  font-weight: bold;
}
.tabs li.selected a {
  padding-top: 11px;
}
.content {
  display: block;
  padding: 10px;
  border: 1px solid #cccccc;
  display: none;
}
.content.visual {
  display: block;
}
