.column-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.button{
    margin-top: 5px;
}
.spacer {
    display: flex;
    justify-content: center;
    padding-bottom: 7vh;
    color: rgb(32, 32, 142);
    text-decoration: underline;
    align-items: center;
    margin-right: 0;
}

p{
    font-size: small;
    font-style:italic;
}