.column-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1vh;
    margin-top: 10px; 
}
.header{
    margin-bottom: 10px; 
}
.case{
    margin-bottom: 20px;
}
.button{
    margin-top: 10px;
}
.spacer {
    padding-bottom: 10vh;
    margin-top: 50px; 
}

.no-header-style {
    margin-right: 0;
}
p{
    font-size: small;
    font-weight: lighter;
}