.column-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1vh;
}


.spacer {
    padding-bottom: 7vh;
}

.no-header-style {
    margin-right: 0;
    color: rgb(32, 32, 142);
    text-decoration: underline;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 7vh;
}
p{
    font-size: large;
    font-weight: bold;
}